chat-layout {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-transition: height 1s;
  transition: height 1s;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  padding: 5px;
}

header > h4 {
  margin: 5px;
  margin-left: 10px;
}

.message-line {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
}

.user-avatar {
  font-size: 25px;
  display: flex;
}

.user-message {
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  width: auto;
}

.user-sender {
  background-color: #A8D6A8;
}

.user-sender-text-align {
  text-align: right !important;
}

.user-avatar,
.user-message,
.user-message-date {
  padding: 5px;
}

.user-name {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.user-message-date {
  color: gray;
  font-size: 10px;
  font-family: 'Muli', sans-serif;
}

.form-chat-submit {
  width: 100%;
  margin: 7px;
  display: flex;
}

.form-chat-submit > input {
  width: 80%;
  margin-left: 7px;
  margin-right: 7px;
}

.right {
  flex-direction: row-reverse;
}

.message-body {
  flex: 1;
  padding: 5px;
}

.chatroom-name {
  text-align: center;
  margin: 5px;
  margin-left: 10px;
}

.chatroom-owner-name {
  text-align: center;
  margin: 5px;
  margin-left: 10px;
  color: gray;
  font-family: 'Muli', sans-serif;
}

section {
  height: 300px;
}

section>.chat-body {
  height: 300px;
  padding: 5px;
  overflow: scroll;
  border-bottom: 1px solid lightgray;
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

footer>.footer-input {
  margin: 5px;
  width: 100%;
  font-size: 10px;
}

footer>button {
  margin: 5px;
}
